html,body {
    margin: 0;
    padding: 0;
}
#loading{
    display: none;
    position:fixed;
    width:100%;
    height: 100vh;
    background-color: black;
    z-index: 999;
}
#content_loading {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
#content {
	padding: 0;
	margin: 0;
}

#flexBox {
	background-color: #3498DB;
	position: relative;
	top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
}
.botonera_firma{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    opacity: 0.5;
}
.comment-item{
    padding: 10px;
    background-color:#5DADE2;
    color:white;
    border-radius:4px;
}
.footer_button{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding:5px;
}
.float-button{
    font-size:45px;
    background-color:#3498DB;
    color:white;
    padding:15px;
    border-radius:150px;
}
#contenedor_nuevo_retiro {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 9999;
    opacity: 0.9;
    padding: 10px;display: none;
    overflow: hidden;
    overflow-y: auto;
}